.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

.container h4 {
  margin: 0.7em;
  font-size: 16.8px;
  font-weight: 500;
  font-family: var(--fontThree);
  color: var(--text1);
  text-transform: uppercase;
}
