@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Raleway:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Condiment&family=Damion&family=Mr+Dafoe&family=Niconne&display=swap');

html {
  --fontOne: 'Montserrat', sans-serif;
  --fontTwo: 'Roboto', sans-serif;
  --fontThree: 'Raleway', sans-serif;
  --fontFour: 'Mr Dafoe', cursive;
  --gradientLight1: hsla(209, 60%, 62%, 1), hsla(209, 86%, 79%, 0.79),
    hsla(209, 86%, 86%, 0.5), hsla(209, 25%, 100%, 1);
  --gradientLight2: hsla(209, 25%, 100%, 1), hsla(209, 13%, 47%, 0.75),
    hsla(209, 35%, 25%, 1);
  --darkBlue: hsl(209, 60%, 10%);
  --white: #fff;
}

:root {
  color-scheme: light;
  --gradientMain: var(--gradientLight1);
  --gradientSub: var(--gradientLight2);
  --text1: var(--darkBlue);
  --dot: var(--white);

  --fontXl: clamp(24px, 13.8vw, 80px);
  --fontLg: clamp(14px, 7vw, 32px);
  --fontTitle: clamp(10px, 5vw, 24px);
  --fontMd: clamp(10px, 4.5vw, 20px);
  --fontSm: clamp(12px, 3vw, 16px);
  --fontXs: clamp(6px, 2.5vw, 12px);
  --subTitleWidth: clamp(100px, 30%, 220px);
}
