@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Raleway:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Condiment&family=Damion&family=Mr+Dafoe&family=Niconne&display=swap');

html {
  /* == Fonts == */
  --font-one: 'Montserrat', sans-serif;
  --font-two: 'Roboto', sans-serif;
  --font-three: 'Raleway', sans-serif;
  --font-four: 'Mr Dafoe', cursive;

  /* == Colors == */
  --light-grey: hsl(209, 15%, 85%);
  --dark-blue: hsl(209, 60%, 10%);
  --navy-blue: hsl(209, 30%, 30%);
  --light-blue: hsl(209, 75%, 67%);
  --light-blue__alt: hsl(209, 54%, 60%);
  --orange: hsl(35, 88%, 52%);
  --accent: hsl(35, 88%, 52%), hsl(54, 80%, 65%);
  --white: #fff;
  --black: #000;

  /* == Light Mode == */
  --gradient-light1: hsla(209, 60%, 62%, 1), hsla(209, 86%, 79%, 0.79),
    hsla(209, 86%, 86%, 0.5), hsla(209, 25%, 100%, 1);
  --gradient-light2: hsla(209, 25%, 100%, 1), hsla(209, 13%, 47%, 0.75),
    hsla(209, 35%, 25%, 1);
  --background-light: var(--white);
  --fade-light: hsla(209, 25%, 100%, 0.25);
  --fade-light__error: hsla(4, 92%, 85%, 0.25);
  --error-light: hsl(4, 82%, 63%);

  /* == Dark Mode == */
  --gradient-dark1: hsla(209, 35%, 15%, 1), hsla(209, 8%, 13%, 0.45),
    hsla(209, 7%, 10%, 0.65), hsla(209, 6%, 5%, 1);
  --gradient-dark2: hsla(209, 6%, 5%, 1), hsla(209, 13%, 7%, 0.5),
    hsla(209, 27%, 9%, 1);
  --background-dark: hsl(209, 6%, 5%);
  --fade-dark: hsl(209, 18%, 12%, 0.5);
  --fade-dark__error: hsla(359, 66%, 75%, 0.25);
  --error-dark: hsl(359, 100%, 73%);
}

:root {
  color-scheme: light;
  --background: var(--background-light);
  --background2: hsla(209, 35%, 25%, 1);
  --gradient-main: var(--gradient-light1);
  --gradient-sub: var(--gradient-light2);
  --text1: var(--dark-blue);
  --text2: var(--white);
  --dot: var(--white);
  --border-bottom: var(--accent);

  --background-alt: var(--black);
  --background-blue: var(--navy-blue);
  --fade: var(--fade-light);
  --fade-error: var(--fade-light__error);
  --error: var(--error-light);

  --font-xlarge: clamp(24px, 13.8vw, 80px);
  --font-large: clamp(14px, 7vw, 32px);
  --font-title: clamp(10px, 5vw, 24px);
  --font-medium: clamp(12px, 4.8vw, 22px);
  --font-small: clamp(10px, 3.8vw, 16px);
  --font-xsmall: clamp(8px, 3vw, 14px);
  --subTitleWidth: clamp(100px, 30%, 220px);
}

@media (prefer-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background: var(--background-dark);
    --background2: hsla(209, 27%, 9%, 1);
    --gradient-main: var(--gradient-dark1);
    --gradient-sub: var(--gradient-dark2);
    --text1: var(--light-grey);
    --text2: var(--black);
    --dot: var(--orange);
    --border-bottom: var(--accent);

    --background-alt: var(--light-grey);
    --background-blue: var(--light-blue__alt);
    --fade: var(--fade-dark);
    --fade-error: var(--fade-dark__error);
    --error: var(--error-dark);
  }
}

[data-theme='light'] {
  color-scheme: light;
  --background: var(--background-light);
  --background2: hsla(209, 35%, 25%, 1);
  --gradient-main: var(--gradient-light1);
  --gradient-sub: var(--gradient-light2);
  --text1: var(--dark-blue);
  --text2: var(--white);
  --dot: var(--white);
  --border-bottom: var(--accent);

  --background-alt: var(--black);
  --background-blue: var(--navy-blue);
  --fade: var(--fade-light);
  --fade-error: var(--fade-light__error);
  --error: var(--error-light);
}

[data-theme='dark'] {
  color-scheme: dark;
  --background: var(--background-dark);
  --background2: hsla(209, 27%, 9%, 1);
  --gradient-main: var(--gradient-dark1);
  --gradient-sub: var(--gradient-dark2);
  --text1: var(--light-grey);
  --text2: var(--black);
  --dot: var(--orange);
  --border-bottom: var(--accent);

  --background-alt: var(--light-grey);
  --background-blue: var(--light-blue__alt);
  --fade: var(--fade-dark);
  --fade-error: var(--fade-dark__error);
  --error: var(--error-dark);
}
